<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CruiseControl.Net" version="1.8.3" targetFramework="net45" />
  <package id="NetReflector" version="1.1.2009" targetFramework="net45" />
  <package id="VersionOne.SDK.APIClient" version="12.3.13018.934" targetFramework="net45" />
  <package id="VersionOne.SDK.ObjectModel" version="12.3.211.0" targetFramework="net45" />
</packages>